{% extends "base_generic.html" %}
{% block title %}History{% endblock %}
{% block content %}

{% load staticfiles %}

<script type="text/javascript">
  $(document).ready(function() {

    var table = $('#table1').DataTable({
        "dom": '<"top"f>rt<"bottom"p><"clear">',
		"order": [[ 5, "desc" ]],
		"pageLength": 50
    });

    table.columns().every( function () {
    	var that = this;

   		 jQuery( 'input', this.footer() ).on( 'keyup change', function () {
    		if ( that.search() !== this.value ) {
    			that
    				.search( this.value )
    				.draw();
        	}
   		 });
     });

  });



</script>

<div class="container-fluid">

	<h2>Your history</h2>

      <!--div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Search for objective" />
        <div class="btn-group">
          <div class="dropdown dropdown-lg">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="contain">Calories</label>
                  <input class="form-control" type="number" name="calories" id="calories" min="0" max="15000" />
                </div>
              </form>
            </div>
          </div>



          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div-->

     	<table id="table1" class="table">
     	 <thead>
      	  <tr>
        	  <th scope="col">Name</th>
        	  <th scope="col">Calories</th>
        	  <th scope="col">Carbohydrates</th>
         	  <th scope="col">Proteins</th>
        	  <th scope="col">Fats</th>
        	  <th scope="col">Date</th>
			  <th scope="col">Actions</th>
		  </tr>
     	 </thead>
     	 <tbody>
		 <tbody>
		{% if items_history %}
    	{% for dup in items_history %}
    		<tr>
				<td><strong><a href="/profile/{{ user_id }}/history/item/{{ dup.ITEM.id }}" style="color: black">{{ dup.ITEM.name }}</a></strong></td>
				<td>{{ dup.ITEM.calories }}</td>
				<td>{{ dup.ITEM.tot_carbs|floatformat:2 }}</td>
				<td>{{ dup.ITEM.tot_protein|floatformat:2  }}</td>
				<td>{{ dup.ITEM.tot_fat|floatformat:2  }}</td>
				<td>{{ dup.DATE }}</td>
				<td><a href="/profile/{{ user_id }}/item/{{ dup.ITEM.id }}/delete">
                    <img border="0" alt="delete food" src="" width="30" height="30    ">
                </a></td>
  			</tr>
    	{% endfor %}
		{% endif %}
     	 </tbody>
    	</table>
	</div>
</div>

<div class="float-md-right">
    <a href="/profile/{{ user_id }}/add_food" class="btn btn-info" role="button">Add Food <img border="0" alt="delete food" src="{% static 'images/add.png' %}" width="30" height="30" > </a>
</div><br>
<div>
    
</div>


{% endblock %}