<!-- user.id -> id de la URL; request.user.id -> id del usuario con sesión iniciada-->

{% extends "base_generic.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container">
    <div class="col-sm-12 text-center">
        <h2>{{ user.username }}'s profile</h2>
    </div>

    <p>Name: {{user.first_name}} </p>
    <p>Last name: {{user.last_name}} </p>
    <p>Email: {{user.email}} </p>
    <p>Birth date: {{user.profile.date_birth}} </p>
    <p>Country: {{user.profile.country}} </p>
    <p>City: {{user.profile.city}} </p>
    <p>Zip code: {{user.profile.cp}} </p>
    <p>Tags: {{user.profile.tags}} </p>
    <p><a href="objective">Objectives</a></p>
    <p><a href="add_food">Add food</a></p>
    <p><a href="history">History</a></p>
</div>

<div class="container-fluid">
    <form action="/profile/{{user.id}}/modify_profile" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-default">Modify profile</button>
    </form>

    <form action="/profile/{{user.id}}/remove_user" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default">Remove User</button>
    </form>

</div>
{% endblock %}
